.form {
    width: 37rem;
    height:fit-content;
    background-color: white;
    padding:  2.5rem 2.5rem 2.5rem 2.5rem;
    margin-bottom: 5rem;
  }

  .h3 {
    font-size: 2rem;
    color: black;
  }
  
  .input label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
  }

  .input input {
    font: inherit;
    display: block;
    width: 100%;
    height: 2.4rem;
    border: 1px solid black;
    padding: 0.15rem;
    margin-bottom: 1rem;
  }
  
  .input input:hover {
    outline: none;
    border-color: goldenrod;
  }

  .input input:focus {
    outline: none;
    border-color: goldenrod;
    background-color: rgb(255, 219, 127)
  }

  .input textarea {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem;
  }

  .input textarea:focus {
    outline: none;
    border-color: goldenrod;
  }

  input::placeholder {
    position:absolute;
    top:0.4rem;
  }
  
  .button {
    font: inherit;
    border: 1px solid black;
    width: 100%;
    background: black;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    margin-top: 1rem;;
    margin-right: 10px;
  }
  
  .button:hover,
  .button:active {
    color: black;
    background: goldenrod;
    border-color: black;
  }
  
  .button:focus {
    outline: none;
  }

.error_text {
  font-size: 0.8rem;
  color: red;
}

.submitMessage {
  margin-top: 1.5rem;
  font: 1.5rem;
  font-weight: 500;
  color: black;
}

.p {
  font-size: 0.8rem;
}
